body {
    font-family: 'Inter', sans-serif;
}

/* Màu đỏ đặc trưng của Bách Khoa */
.hust-red {
    background-color: #A00000;
}

.hust-red-text {
    color: #A00000;
}

/* Thêm hiệu ứng cho thanh progress bar */
.progress-bar-inner {
    transition: width 0.5s ease-in-out;
}
